body {
    width: 180px;
    height: 180px;
    background-color: #293462;
    border: 1px solid #fff;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FFF1C1;
    left: 40px;
    top: 40px;
    position: absolute;
    overflow: hidden;
}

.hill1 {
    border: 70px solid transparent;
    border-bottom: 70px solid #FE5F55;
    right: 45px;
    top: 10px;
    position: relative;
}

.hill2 {
    border: 90px solid transparent;
    border-bottom: 90px solid #FE5F55;
    bottom: 180px;
    position: relative;
}